
apiVersion: v1
kind: Namespace
metadata:
  name: k8sansimble
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: k8sansimble
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ronit0000/k8sansimblefe:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_TELEMETRY_DISABLED
              value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: k8sansimble
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: k8sansimble
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ronit0000/k8sansimblebe:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 8058
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "default"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql:3306/Portfolio?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false"
            - name: SPRING_DATASOURCE_USERNAME
              value: "root"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "root"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: k8sansimble
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8058
      targetPort: 8058
      nodePort: 30058
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: k8sansimble
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "root"
            - name: MYSQL_DATABASE
              value: "Portfolio"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: k8sansimble
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306

